<thead class="encabezado">    
  <tr>
      <th scope="col"class="col">NOMBRE</th>
      <th scope="col"class="col">PRECIO</th>
      <th scope="col"class="col">FOTO</th>
  </tr>
</thead>
<tbody class="tbody">
  <!-- if no PRODUCTOS -->
  <% if (productos.length === 0) { %>
          <tr>
              <td colspan="3">No hay datos</td>
          </tr>
      <% }else{        
          for (let i = 0; i < productos.length; i++) 
          { %>
              <tr>
                  <td><%=productos[i].title%></td>
                  <td><%=productos[i].price%></td>
                  <td><img src="<%=productos[i].thumbnail%>" class="productImage"></td>

                  
              </tr>
          <% } 
          
      } 
  %>
</tbody>